<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lins.modulehome">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:requestLegacyExternalStorage="true">
        <activity android:name=".test.bitmapEdit.BitmapEditActivity"/>

        <service
            android:name=".test.service.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".test.MaterialDesignActivity"
            android:theme="@style/MaterialDesignTheme" />
        <activity android:name=".test.service.ServiceActivity" />
        <activity android:name=".test.HttpActivity" />
        <activity android:name=".test.PlayVideoActivity" />
        <activity android:name=".test.PlayMusicActivity" />
        <activity android:name=".test.TakePhotoActivity" />
        <activity android:name=".test.NotificationActivity" />
        <activity android:name=".test.ContactActivity" />
        <activity android:name=".test.ibeacon.IBeaconActivity" />
    </application>

</manifest>